<div class="modal-header">
    <h4 class="modal-title pull-left">Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body d-flex">
    <img [src]="imgLocation" class="character-img img-thumbnail" alt="Character picture">
    <ul>
        <li>
            <b>Specie: </b>
            <span *ngIf="species$ | async as species; else loadingSpecies">
                {{species}}
            </span>
            <ng-template #loadingSpecies>
                <span>Loading...</span>
            </ng-template>
        </li>
        <li>
            <b>Height: </b>
            <span>{{character.height}}</span>
        </li>
        <li>
            <b>Hair: </b>
            <span>{{character.hair_color}}</span>
        </li>
        <li>
            <b>Planet: </b>
            <span>{{homeworld$ | async}}</span>
        </li>
        <li>
            <b>Movies: </b>
            <span *ngIf="films$ | async as movies; else loadingMovies">
                {{movies}}
            </span>
            <ng-template #loadingMovies>
                <span>Loading...</span>
            </ng-template>
        </li>
        <li>
            <b>Vehicles: </b>
            <span *ngIf="vehicles$ | async as vehicles; else loadingVehicles">
                {{vehicles}}
            </span>
            <ng-template #loadingVehicles>
                <span>Loading...</span>
            </ng-template>
        </li>
        <li>
            <b>Starships: </b>
            <span *ngIf="starships$ | async as starships; else loadingStarships">
                {{starships}}
            </span>
            <ng-template #loadingStarships>
                <span>Loading...</span>
            </ng-template>
        </li>
    </ul>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>