<div class="card">
    <img class="card-img-top" [src]="imgLocation" alt="Card image cap">
    <h5>{{character.index}}</h5>
    <div class="card-body">
        <div class="form-group">
            <input type="text" 
                   class="form-control" 
                   placeholder="Name here..."
                   [ngModel]="nameGuess"
                   [disabled]="isDisabled"
                   (ngModelChange)="nameChanged($event)">
        </div>
        <button class="btn btn-info"
        [disabled]="isDisabled"
        (click)="moreInfo()">Details (-5 points)</button>
    </div>
</div>